:root {
  --white: #fff;
  --notwhite: #f5f4fa;
  --black: #000;
  --notblack: #212121;
  --blue: #2196f3;
  --gray: #757575;
  --darkgrey: #2f303a;
  --productborder: #eeeeee;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--darkgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*powtarzające*/

.no-line {
  text-decoration: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
/*menu-nav*/
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 1600px;
  justify-content: center;
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.webstudio {
  border-style: none;
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.blue-text {
  color: var(--blue);
}
.nav-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.nav-style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.nav-link {
  height: 16px;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  line-height: 1.2;
  color: var(--notblack);
}

/*contakty boczne*/
.contact-style {
  gap: 50px;
  padding: 0 0 0 371px;
  margin: 0;
}
.contact-link-style {
  color: var(--gray);
  font-weight: 500;
}

/*bg&button*/
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.section-top {
  width: 1600px;
  color: var(--white);
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--darkgrey);
  padding: 200px 0;
}
.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  background: var(--blue);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: var(--white);
}

/*Lorem list*/
.container-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  padding: 94px 0 0 0;
}
.container-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0 0 10px 0;
  line-height: 1.1428571428571428;
}

.container-text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
  text-align: left;
}
/*czym sie zajmujemy*/
.hobby {
  padding: 94px 0;
  align-items: center;
  flex-direction: column;
}

.hobby-title-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}
.hobby-title-item {
  list-style-type: none;
  width: 370px;
  height: 294px;
  display: flex;
}

/*Nasz zespół*/
.container-social {
  background-color: var(--notwhite);
  padding: 94px 0;
}
.h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}
.social-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.social-list-item {
  weight: 270px;
  height: 260px;
  list-style-type: none;
}
.list-design {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgb(201 45 45 / 12%), 0px 1px 1px rgb(197 197 197),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.name-social {
  gap: 99px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin: 30px 0 10px 0;
}
.text-pra {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  background: rgb(255, 254, 254);
  color: #757575;
  list-style-type: none;
  font-size: 16px;
  margin: 0 0 30px 0;
}
/*footer container*/
.footer {
  background-color: var(--darkgrey);
}

.adress p {
  margin: 20px 0 0 0;
  font-style: normal;
  color: var(--white);
}

.footer-list li {
  margin: 9px 0 9px 0;
  list-style-type: none;
}
.footer-link {
  color: gray;
  text-decoration: none;
  display: block;
  padding: 9px 0;
}
.white-logo {
  color: var(--white);
}

.footer-link:hover,
.footer-link:focus,
.blue-text:hover,
.blue-text:focus {
  color: blue;
}

/*portfolio*/
.styles-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.style-button {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  font-family: "Roboto";
  padding: 0 20px;
}
.style-button:focus,
.style-button:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.project-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
  justify-content: center;
}
.project-item > li {
  border: var(--productborder) solid 1px;
  height: 404px;
  flex-basis: calc((100% -90px) / 4);
  margin: 0;
}
.project-list-item > h4 {
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.project-list-text > p {
  line-height: 1.88;
  font-size: 16px;
}
.style-line {
  border-bottom: var(--notwhite) solid 1px;
}
